proxy=http://Thanaporn_t:P%40ssw0rd@10.0.0.114:8080/
http-proxy=http://Thanaporn_t:P%40ssw0rd@10.0.0.114:8080
https-proxy=http://Thanaporn_t:P%40ssw0rd@10.0.0.114:8080/
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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
